*{
	margin: 0;
	padding: 0;
}
[class*='col-']{
	float: left;
	height: 60px;
	background:burlywood;
	margin: 20px;
}
@media only screen and (min-width:769px ) {
	.col-md-1{
		width:20% ;
	}
	.col-md-2{
		width: 40%;
	}
	.col-md-3{
		width:60% ;
	}
	.col-md-4{
		width:80% ;
	}
	.col-md-5{
		width:100% ;
	}
}
@media only screen and (max-width:769px ) {
	.col-sm-1{
		width:10% ;
	}
	.col-sm-2{
		width: 30%;
	}
	.col-sm-3{
		width:50% ;
	}
	.col-sm-4{
		width:70% ;
	}
	.col-sm-5{
		width:90% ;
	}
	
}