.main{
	background: #ddd;
	border: 1px solid #999;
	padding: 20px;
	overflow: auto;
}
.left{
	padding: 20px;
	background: white;
	border: 1px solid #999;
	width: 180px;
	float: left;
}
.left img{
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 20px;
}
.right{
	width: 80px;
	background: #ddd;
	border: 1px #999 solid;
	padding: 20px;
	background: white;
	float: right;
}
.right img{
	margin-bottom: 20px;
}
.center{
	background: white;
	padding: 20px;
	border: 1px solid #999;
	margin-left: 240px;
	margin-right: 140px;
}
// #imges{
// 	margin-bottom:0;
// }
/*试试这种方式，就不用去定义html结构了   了解一下 :first-child,:last-child,:nth-child(n) 这几个选择器*/
.right img:last-child{
	margin-bottom:0;
}


/* 	整体实现的思路不错，比我的实现方式更省代码，
 * 试试将主要内容放在最开始（这样会利于SEO优化，实际中一般是这样），
 *	这样做之后你就可以看看圣杯布局，和双翼布局 
 * */