.main{
	width: 400px;
	height: 200px;
	background: #ccc;
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -100px;
	margin-left: -200px;
	/*可以试试我下面这种方式，这在不确定高度的时候，是一种很好的居中方式*/
	// -webkit-transform:translate(-50%,-50%);
	//    -moz-transform:translate(-50%,-50%);
	// 		transform:translate(-50%,-50%);
	overflow: hidden;
}
.top-left,
.right-bottom{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: #fc0;	
}
.top-left{
	position: absolute;
	top: -50px;
	left: -50px;
}
.right-bottom{
	position: absolute;
	right: -50px;
	bottom: -50px;
}
