*{
	margin: 0;
	padding: 0;
}
[class*='col-']{		/*这里用的不错，我也学到一招*/
	float: left;
	height: 60px;
	background:burlywood;
	margin: 20px;
}
@media only screen and (min-width:769px ) {
	.col-md-1{
		width:20% ;
	}
	.col-md-2{
		width: 40%;
	}
	.col-md-3{
		width:60% ;
	}
	.col-md-4{
		width:80% ;
	}
	.col-md-5{
		width:100% ;
	}
}
@media only screen and (max-width:769px ) {
	.col-sm-1{
		width:10% ;
	}
	.col-sm-2{
		width: 30%;
	}
	.col-sm-3{
		width:50% ;
	}
	.col-sm-4{
		width:70% ;
	}
	.col-sm-5{
		width:90% ;
	}
	
}
/* 清除浮动 当然用overflow也可以*/
.case:after{
	content: '';
	display: block;
	clear: both;
}

/*你的响应式布局有点问题，可以学着bootstrap的12栏布局，我传了我的在css文件夹里，你看看*/